<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      body {
        background-color:rgb(127, 139, 135);
        font-size: 3em;
      }
      .header{
        font-size: 20px;
        height: 20%;
        width: 100%;
        margin: 0 auto;
        border-style: 1px solid;
      }

      form button {
        font-size: 20px;
        border-radius: 5%;
        width: 500px;
        height: 50px;
      }
      </style>
</head>
<body>
  <div class="header">
    <h3>Типо интерфейс</h3>
  </div>
  <form name = "gotoInsert" method="get" action="/form">
    <button>Добавить студента</button>
  </form>
  <form name = "gotoGetInfo" method="get" action="/get-info">
    <button>Найти студента</button>
  </form>
</body>
</html>